@charset "UTF-8";

/*
Paleta de cores

*/


*  
  
        body {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                background-image: linear-gradient(to right, rgba(38, 38, 247, 0.836), rgba(0, 119, 255, 0.815)); 
                            
            }
       
    

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8)
        
    }
    .box {
        padding: 15px;
        border-radius: 15px
    }
    .box{
        color: white;
    }
    fieldset{
        border: 3px solid dodgerblue
    }
    legend {
        border: 10px solid dodgerblue;
        padding: 10px;
        text-align: center;
        background-color: dodgerblue;
        border-radius: 10px;
    }

    .inputBox{
        position: relative;
    }
    .inputUser{
        background: none;
        border: none;
        border-bottom: 1px solid white;
        outline: none;
        color: white;
        font-size: 15px;
        width: 100%;
        letter-spacing: 2px;

    }

    .Submit{
        background: dodgerblue;
        padding: 10px;
        border-radius: 8px;
        width: 22vw;
        text-decoration: solid;
    }
    .Submit{
        width: relative;
    }
     
